### Testing

In [25]:
import pandas as pd
import csv
import sqlite3

conn = sqlite3.connect("organizedData.sqlite3")
df = pd.DataFrame()

query_1 = "SELECT id, title, date, language, restricted, rating, finished, words, hits, kudos, bookmarks, comments, description FROM StoryHeaders LIMIT 100000"
query_2 = "SELECT * from Languages"
query_3 = "SELECT * from Ratings"
query_4 = "SELECT * from FinishedState"

pd.read_sql_query(query_3, conn)
df = pd.read_sql_query(query_1, conn)
lan = pd.read_sql_query(query_2, conn)
rat = pd.read_sql_query(query_3, conn)
fin = pd.read_sql_query(query_4, conn)
conn.close()

# Info on LIMIT: https://www.w3schools.com/sql/sql_top.asp
print("nice")

nice

In [26]:
df["LanguageName"] = None
df["RatingName"] = None
df["FinishedStatus"] = None

# I perpetually chain my indexes, so I used these to help me fix my code: https://stackoverflow.com/questions/32357311/python-pandas-how-to-avoid-chained-assignment
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

for index in df.index.to_list():
    lan_df = df["language"]
    try:
        for iden in lan.index.to_list():
            if int(lan_df.iloc[index]) == int(lan.loc[iden, "id"]):
                df.loc[index, "LanguageName"] = lan.loc[iden, "Language_Name"]
    except:
        pass
    
    rat_df = df["rating"]
    try:
        for iden in rat.index.to_list():
            if int(rat_df.iloc[index]) == int(rat.loc[iden, "id"]):
                df.loc[index, "RatingName"] = rat.loc[iden, "name"]
    except:
        pass

    fin_df = df["finished"]
    try:
        for iden in fin.index.to_list():
            if int(fin_df.iloc[index]) == int(fin.loc[iden, "id"]):
                df.loc[index, "FinishedStatus"] = fin.loc[iden,"name"]
    except:
        pass
    
actual_df = df[df["restricted"] == 0]
print(actual_df)
print("done")

           id                                 title        date  language  \
1           3               Analysis of the Obvious  2008-09-13       1.0
2           5             Dense Like Chocolate Cake  2008-09-13       1.0
3           6                            Dedication  2008-09-13       1.0
4           7                            Dedication  2008-09-13       1.0
5           8             His Place In the Universe  2008-09-13       1.0
...       ...                                   ...         ...       ...
99993  118217                          The Bells...  2007-09-17       1.0
99995  118219                       Endless Road...  2006-08-19       1.0
99996  118220                               Pain...  2006-11-18       1.0
99997  118221   There, But for the Grace of Pt I...  2006-07-28       1.0
99998  118222  There, But for the Grace of Pt II...  2006-10-02       1.0

       restricted  rating  finished   words     hits  kudos  bookmarks  \
1               0     1.0       1.0  2751.0   9643.0   43.0        3.0
2               0     1.0       1.0  4127.0  11831.0   24.0        6.0
3               0     2.0       1.0  5836.0  15812.0   25.0        6.0
4               0     2.0       1.0  5836.0   4803.0   51.0       13.0
5               0     0.0       1.0  1695.0  10520.0  202.0       30.0
...           ...     ...       ...     ...      ...    ...        ...
99993           0     2.0       1.0   469.0    160.0    7.0        0.0
99995           0     2.0       1.0   160.0    118.0    2.0        0.0
99996           0     2.0       1.0  3787.0   1650.0   16.0        3.0
99997           0     2.0       1.0   921.0    217.0    3.0        1.0
99998           0     2.0       1.0   881.0    224.0    3.0        0.0

       comments                                        description  \
1           1.0  It requires a very unusual mind to undertake t...
2          73.0  A muttered insult takes on new meaning. Set du...
3          57.0  The breakup between Hiro and Ayaka leaves our ...
4          65.0  The breakup between Hiro and Ayaka leaves our ...
5          56.0  The things Aang and Zuko talk about when stuck...
...         ...                                                ...
99993       0.0  It is the depths of midnight. Dean swears some...
99995       2.0  Headlights cut/Through endless twilight/Eating...
99996       0.0  There came a point when it didn't matter anymo...
99997       2.0  Even when Mary died and left him with two smal...
99998       2.0         And he never thought once of stopping him.

      LanguageName         RatingName FinishedStatus
1          English        Teen And Up       Finished
2          English        Teen And Up       Finished
3          English             Mature       Finished
4          English             Mature       Finished
5          English  General Audiences       Finished
...            ...                ...            ...
99993      English             Mature       Finished
99995      English             Mature       Finished
99996      English             Mature       Finished
99997      English             Mature       Finished
99998      English             Mature       Finished

[93803 rows x 16 columns]
done

In [27]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_project_info.csv')
except:
    pass

actual_df.to_csv('reduced_project_info.csv')
print('done')

done

In [18]:
import pandas as pd
import csv
import sqlite3
# THIS IS BEKS MESSING WITH THE CHAPTERS

conn = sqlite3.connect("organizedData.sqlite3")
query_chapts = "SELECT storyId, idx, text FROM Chapters LIMIT 000"

chapters = pd.read_sql_query(query_chapts, conn)

# We want the "text" column, as someone has already sorted through it for us (I love theCodeCat!)

chapters = chapters.rename(columns={"idx": "chapterNumber"})
print(chapters)

      storyId  chapterNumber  \
0           3              0
1          35              0
2          63              0
3          87              0
4         123              0
...       ...            ...
9995   182783              5
9996   182783              6
9997   182783              7
9998   182807              0
9999   182830              0

                                                   text
0     It requires a very unusual mind to undertake t...
1     I told Gilina I could have fallen in love with...
2     Sometimes life just seemed to happen to Rodney...
3     "Hey, Doc," Jayne said as he breezed into the ...
4     My friend, and lately, confidante, Arabella Bl...
...                                                 ...
9995  Fuck fuck fuck fuck fuck! Why did he say that?...
9996  When Tommy wakes up, he starts to freak out. T...
9997  Everything is going great. That is until Adam ...
9998  Elena tried not to think of the people or the ...
9999  That this year sucked was a given. That it cou...

[10000 rows x 3 columns]

In [19]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_chapter_text')
except:
    pass

chapters.to_csv('reduced_chapter_text.csv')
print('done')

done