### Testing

In [17]:
import pandas as pd
import csv
import sqlite3

conn = sqlite3.connect("organizedData.sqlite3")
df = pd.DataFrame()

query_1 = "SELECT id, title, date, language, restricted, rating, finished, words, hits, kudos, bookmarks, comments, description FROM StoryHeaders LIMIT 50000"
query_2 = "SELECT * from Languages"
query_3 = "SELECT * from Ratings"
query_4 = "SELECT * from FinishedState"

pd.read_sql_query(query_3, conn)
df = pd.read_sql_query(query_1, conn)
lan = pd.read_sql_query(query_2, conn)
rat = pd.read_sql_query(query_3, conn)
fin = pd.read_sql_query(query_4, conn)
conn.close()

# Info on LIMIT: https://www.w3schools.com/sql/sql_top.asp
print("nice")

nice

In [18]:
df["LanguageName"] = None
df["RatingName"] = None
df["FinishedStatus"] = None

for index in df.index.to_list():
    lan_df = df["language"]
    try:
        for iden in lan.index.to_list():
            if int(lan_df.iloc[index]) == int(lan.loc[iden, "id"]):
                df.loc[index, "LanguageName"] = lan.loc[iden, "Language_Name"]
    except:
        pass
    
    rat_df = df["rating"]
    try:
        for iden in rat.index.to_list():
            if int(rat_df.iloc[index]) == int(rat.loc[iden, "id"]):
                df.loc[index, "RatingName"] = rat.loc[iden, "name"]
    except:
        pass

    fin_df = df["finished"]
    try:
        for iden in fin.index.to_list():
            if int(fin_df.iloc[index]) == int(fin.loc[iden, "id"]):
                df.loc[index, "FinishedStatus"] = fin.loc[iden,"name"]
    except:
        pass
    
actual_df = df[df["restricted"] == 0]
print(actual_df)
print("done")

          id                      title        date  language  restricted  \
1          3    Analysis of the Obvious  2008-09-13       1.0           0
2          5  Dense Like Chocolate Cake  2008-09-13       1.0           0
3          6                 Dedication  2008-09-13       1.0           0
4          7                 Dedication  2008-09-13       1.0           0
5          8  His Place In the Universe  2008-09-13       1.0           0
...      ...                        ...         ...       ...         ...
49995  58014                       Rain  1997-01-31       1.0           0
49996  58015              Muscle Memory  2010-01-31       1.0           0
49997  58016           Till You Love Me  2002-03-16       1.0           0
49998  58017    Something to Moan About  2010-01-31       1.0           0
49999  58018                  Me in You  2010-01-31       1.0           0

       rating  finished   words     hits  kudos  bookmarks  comments  \
1         1.0       1.0  2751.0   9643.0   43.0        3.0       1.0
2         1.0       1.0  4127.0  11831.0   24.0        6.0      73.0
3         2.0       1.0  5836.0  15812.0   25.0        6.0      57.0
4         2.0       1.0  5836.0   4803.0   51.0       13.0      65.0
5         0.0       1.0  1695.0  10520.0  202.0       30.0      56.0
...       ...       ...     ...      ...    ...        ...       ...
49995     1.0       1.0  1396.0   1315.0   34.0        0.0       1.0
49996     3.0       1.0  3807.0   4654.0  157.0       23.0       1.0
49997     0.0       1.0   566.0    452.0    5.0        1.0       1.0
49998     3.0       1.0  2877.0   1518.0   60.0       10.0       0.0
49999     3.0       1.0  5928.0    997.0   45.0        3.0       1.0

                                             description LanguageName  \
1      It requires a very unusual mind to undertake t...      English
2      A muttered insult takes on new meaning. Set du...      English
3      The breakup between Hiro and Ayaka leaves our ...      English
4      The breakup between Hiro and Ayaka leaves our ...      English
5      The things Aang and Zuko talk about when stuck...      English
...                                                  ...          ...
49995  How "Resolutions" started, in a rainstorm on N...      English
49996  Scott's had all he can take, and Logan adds fu...      English
49997  Yagami Taichi has two best friends... and he's...      English
49998  Moaning M as voyeuse: who does she see Severus...      English
49999     It's a mad season in LA as Lindsey comes home.      English

              RatingName FinishedStatus
1            Teen And Up       Finished
2            Teen And Up       Finished
3                 Mature       Finished
4                 Mature       Finished
5      General Audiences       Finished
...                  ...            ...
49995        Teen And Up       Finished
49996           Explicit       Finished
49997  General Audiences       Finished
49998           Explicit       Finished
49999           Explicit       Finished

[46910 rows x 16 columns]

NameError: name 'done' is not defined

In [21]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('project_info.csv')
except:
    pass

actual_df.to_csv('project_info.csv')
print('done')

done

In [10]:
df.loc[5,"finished"]

1.0