### Testing

In [1]:
import pandas as pd
import csv
import sqlite3

conn = sqlite3.connect("organizedData.sqlite3")
df = pd.DataFrame()

query_1 = "SELECT id, title, date, language, restricted, rating, finished, words, hits, kudos, bookmarks, comments, description FROM StoryHeaders LIMIT 10000"
query_2 = "SELECT * from Languages"
query_3 = "SELECT * from Ratings"
query_4 = "SELECT * from FinishedState"

pd.read_sql_query(query_3, conn)
df = pd.read_sql_query(query_1, conn)
lan = pd.read_sql_query(query_2, conn)
rat = pd.read_sql_query(query_3, conn)
fin = pd.read_sql_query(query_4, conn)
conn.close()

# Info on LIMIT: https://www.w3schools.com/sql/sql_top.asp
print("nice")

nice

In [3]:
df["LanguageName"] = None
df["RatingName"] = None
df["FinishedStatus"] = None

# I perpetually chain my indexes, so I used these to help me fix my code: https://stackoverflow.com/questions/32357311/python-pandas-how-to-avoid-chained-assignment
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

for index in df.index.to_list():
    lan_df = df["language"]
    try:
        for iden in lan.index.to_list():
            if int(lan_df.iloc[index]) == int(lan.loc[iden, "id"]):
                df.loc[index, "LanguageName"] = lan.loc[iden, "Language_Name"]
    except:
        pass
    
    rat_df = df["rating"]
    try:
        for iden in rat.index.to_list():
            if int(rat_df.iloc[index]) == int(rat.loc[iden, "id"]):
                df.loc[index, "RatingName"] = rat.loc[iden, "name"]
    except:
        pass

    fin_df = df["finished"]
    try:
        for iden in fin.index.to_list():
            if int(fin_df.iloc[index]) == int(fin.loc[iden, "id"]):
                df.loc[index, "FinishedStatus"] = fin.loc[iden,"name"]
    except:
        pass
    
print("done")
print(df)

done
         id                                              title        date  \
0         2                                               None        None
1         3                            Analysis of the Obvious  2008-09-13
2         5                          Dense Like Chocolate Cake  2008-09-13
3         6                                         Dedication  2008-09-13
4         7                                         Dedication  2008-09-13
...     ...                                                ...         ...
9995  11632                              The Unvictorious Ones  2009-11-15
9996  11633                           The Dangers of Curiosity  2009-11-15
9997  11634                                      Living Dreams  2005-11-13
9998  11635                                           Hardwood  2009-11-15
9999  11636  Once Upon a Time's Only Fiction Until Tomorrow...  2008-04-25

      language  restricted  rating  finished    words     hits  kudos  \
0          NaN           1     NaN       NaN      NaN      NaN    NaN
1          1.0           0     1.0       1.0   2751.0   9643.0   43.0
2          1.0           0     1.0       1.0   4127.0  11831.0   24.0
3          1.0           0     2.0       1.0   5836.0  15812.0   25.0
4          1.0           0     2.0       1.0   5836.0   4803.0   51.0
...        ...         ...     ...       ...      ...      ...    ...
9995       1.0           0     0.0       1.0  29789.0   1499.0   44.0
9996       1.0           0     3.0       1.0   1108.0    308.0    4.0
9997       1.0           0     3.0       1.0   1070.0   2692.0  169.0
9998       1.0           0     3.0       1.0   1606.0    422.0    9.0
9999       1.0           0     3.0       1.0  13344.0    767.0   31.0

      bookmarks  comments                                        description  \
0           NaN       NaN                                               None
1           3.0       1.0  It requires a very unusual mind to undertake t...
2           6.0      73.0  A muttered insult takes on new meaning. Set du...
3           6.0      57.0  The breakup between Hiro and Ayaka leaves our ...
4          13.0      65.0  The breakup between Hiro and Ayaka leaves our ...
...         ...       ...                                                ...
9995       13.0      12.0  Daniel is invited to participate in an off-wor...
9996        2.0       0.0  Not for the first time, Blake wished he hadn't...
9997       10.0       1.0  Jerome liked to torture himself with thoughts ...
9998        0.0       0.0                                Dom + Elijah = smut
9999        4.0       1.0  The year Virginia Dale Wentz turns five her pa...

     LanguageName         RatingName FinishedStatus
0            None               None           None
1         English        Teen And Up       Finished
2         English        Teen And Up       Finished
3         English             Mature       Finished
4         English             Mature       Finished
...           ...                ...            ...
9995      English  General Audiences       Finished
9996      English           Explicit       Finished
9997      English           Explicit       Finished
9998      English           Explicit       Finished
9999      English           Explicit       Finished

[10000 rows x 16 columns]

In [4]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_project_info.csv')
except:
    pass

df.to_csv('reduced_project_info.csv')
print('done')

done

In [18]:
import pandas as pd
import csv
import sqlite3
# THIS IS BEKS MESSING WITH THE CHAPTERS

conn = sqlite3.connect("organizedData.sqlite3")
query_chapts = "SELECT storyId, idx, text FROM Chapters LIMIT 000"

chapters = pd.read_sql_query(query_chapts, conn)

# We want the "text" column, as someone has already sorted through it for us (I love theCodeCat!)

chapters = chapters.rename(columns={"idx": "chapterNumber"})
print(chapters)

      storyId  chapterNumber  \
0           3              0
1          35              0
2          63              0
3          87              0
4         123              0
...       ...            ...
9995   182783              5
9996   182783              6
9997   182783              7
9998   182807              0
9999   182830              0

                                                   text
0     It requires a very unusual mind to undertake t...
1     I told Gilina I could have fallen in love with...
2     Sometimes life just seemed to happen to Rodney...
3     "Hey, Doc," Jayne said as he breezed into the ...
4     My friend, and lately, confidante, Arabella Bl...
...                                                 ...
9995  Fuck fuck fuck fuck fuck! Why did he say that?...
9996  When Tommy wakes up, he starts to freak out. T...
9997  Everything is going great. That is until Adam ...
9998  Elena tried not to think of the people or the ...
9999  That this year sucked was a given. That it cou...

[10000 rows x 3 columns]

In [19]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_chapter_text')
except:
    pass

chapters.to_csv('reduced_chapter_text.csv')
print('done')

done