### Testing

In [ ]:
import pandas as pd
import csv
import sqlite3

conn = sqlite3.connect("organizedData.sqlite3")
df = pd.DataFrame()

query_1 = "SELECT id, title, date, language, restricted, rating, finished, words, hits, kudos, bookmarks, comments, description FROM StoryHeaders LIMIT 100000"
query_2 = "SELECT * from Languages"
query_3 = "SELECT * from Ratings"
query_4 = "SELECT * from FinishedState"

pd.read_sql_query(query_3, conn)
df = pd.read_sql_query(query_1, conn)
lan = pd.read_sql_query(query_2, conn)
rat = pd.read_sql_query(query_3, conn)
fin = pd.read_sql_query(query_4, conn)
conn.close()

# Info on LIMIT: https://www.w3schools.com/sql/sql_top.asp
print("nice")

In [ ]:
df["LanguageName"] = None
df["RatingName"] = None
df["FinishedStatus"] = None

# I perpetually chain my indexes, so I used these to help me fix my code: https://stackoverflow.com/questions/32357311/python-pandas-how-to-avoid-chained-assignment
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

for index in df.index.to_list():
    lan_df = df["language"]
    try:
        for iden in lan.index.to_list():
            if int(lan_df.iloc[index]) == int(lan.loc[iden, "id"]):
                df.loc[index, "LanguageName"] = lan.loc[iden, "Language_Name"]
    except:
        pass
    
    rat_df = df["rating"]
    try:
        for iden in rat.index.to_list():
            if int(rat_df.iloc[index]) == int(rat.loc[iden, "id"]):
                df.loc[index, "RatingName"] = rat.loc[iden, "name"]
    except:
        pass

    fin_df = df["finished"]
    try:
        for iden in fin.index.to_list():
            if int(fin_df.iloc[index]) == int(fin.loc[iden, "id"]):
                df.loc[index, "FinishedStatus"] = fin.loc[iden,"name"]
    except:
        pass
    
print("done")
print(df)

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_project_info.csv')
except:
    pass

df.to_csv('reduced_project_info.csv')
print('done')

In [ ]:
import pandas as pd
import csv
import sqlite3
# THIS IS BEKS MESSING WITH THE CHAPTERS

conn = sqlite3.connect("organizedData.sqlite3")
query_chapts = "SELECT storyId, idx, text FROM Chapters LIMIT 000"

chapters = pd.read_sql_query(query_chapts, conn)

# We want the "text" column, as someone has already sorted through it for us (I love theCodeCat!)

chapters = chapters.rename(columns={"idx": "chapterNumber"})
print(chapters)

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_chapter_text')
except:
    pass

chapters.to_csv('reduced_chapter_text.csv')
print('done')

# maybe edit this so it's only keeping the works we've looked at - for kudos/other stuff

In [1]:
import pandas as pd
import csv
import sqlite3

# THIS IS BEKS MESSING WITH THE TAGS

conn = sqlite3.connect("organizedData.sqlite3")
query_tags = "SELECT id, name, type FROM Tags"
query_story_tags = "SELECT * FROM TagLinks"

# tags_data = pd.read_sql_query(query_tags, conn)
story_tags_data = pd.read_sql_query(query_story_tags, conn)
print(story_tags_data)

# print(story_tags)


# IDEA - We can sort through and see how many stories have each tag, then choose to anaylze like the top
# 10000 tags.

           storyId  tagId
0                3      1
1                3      2
2                3      3
3                3      4
4                3      5
...            ...    ...
89800932  24582061    621
89800933  24582061  18921
89800934  24582061   6562
89800935  24582061   7488
89800936  24582061    250

[89800937 rows x 2 columns]

In [2]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

# try:
#     os.remove('reduced_tags')
# except:
#     pass

# tags_data.to_csv('reduced_tags.csv')
# print('done')

# STORY IDS:
try:
    os.remove('story_tags.csv')
except:
    pass
story_tags_data.to_csv("story_tags.csv")
print("done")

# Reader/Dyn Jarren	relationship
# reader/ Din Djarin
# These were two different tags that seem the same to me.

done

In [4]:
story_info = pd.read_csv("story_tags.csv")
numb_info = pd.read_csv("reduced_project_info.csv")

story_info

          Unnamed: 0   storyId  tagId
0                  0         3      1
1                  1         3      2
2                  2         3      3
3                  3         3      4
4                  4         3      5
...              ...       ...    ...
89800932    89800932  24582061    621
89800933    89800933  24582061  18921
89800934    89800934  24582061   6562
89800935    89800935  24582061   7488
89800936    89800936  24582061    250

[89800937 rows x 3 columns]

In [ ]:
# Create list of all unique Story Ids, then create a collection for each that contains a list with all their tags. 
unique_stories = []

for story in story_tags_data["storyId"]:
    if story not in unique_stories:
        unique_stories.append(story)
print(unique_stories)
# also look through how many instances there are of each unique tag.