### Testing

In [ ]:
import pandas as pd
import csv
import sqlite3

conn = sqlite3.connect("organizedData.sqlite3")
df = pd.DataFrame()

query_1 = "SELECT id, title, date, language, restricted, rating, finished, words, hits, kudos, bookmarks, comments, description FROM StoryHeaders LIMIT 100000"
query_2 = "SELECT * from Languages"
query_3 = "SELECT * from Ratings"
query_4 = "SELECT * from FinishedState"

pd.read_sql_query(query_3, conn)
df = pd.read_sql_query(query_1, conn)
lan = pd.read_sql_query(query_2, conn)
rat = pd.read_sql_query(query_3, conn)
fin = pd.read_sql_query(query_4, conn)
conn.close()

# Info on LIMIT: https://www.w3schools.com/sql/sql_top.asp
print("nice")

In [ ]:
df["LanguageName"] = None
df["RatingName"] = None
df["FinishedStatus"] = None

# I perpetually chain my indexes, so I used these to help me fix my code: https://stackoverflow.com/questions/32357311/python-pandas-how-to-avoid-chained-assignment
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

for index in df.index.to_list():
    lan_df = df["language"]
    try:
        for iden in lan.index.to_list():
            if int(lan_df.iloc[index]) == int(lan.loc[iden, "id"]):
                df.loc[index, "LanguageName"] = lan.loc[iden, "Language_Name"]
    except:
        pass
    
    rat_df = df["rating"]
    try:
        for iden in rat.index.to_list():
            if int(rat_df.iloc[index]) == int(rat.loc[iden, "id"]):
                df.loc[index, "RatingName"] = rat.loc[iden, "name"]
    except:
        pass

    fin_df = df["finished"]
    try:
        for iden in fin.index.to_list():
            if int(fin_df.iloc[index]) == int(fin.loc[iden, "id"]):
                df.loc[index, "FinishedStatus"] = fin.loc[iden,"name"]
    except:
        pass
    
print("done")
print(df)

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_project_info.csv')
except:
    pass

df.to_csv('reduced_project_info.csv')
print('done')

In [ ]:
import pandas as pd
import csv
import sqlite3
# THIS IS BEKS MESSING WITH THE CHAPTERS

conn = sqlite3.connect("organizedData.sqlite3")
query_chapts = "SELECT storyId, idx, text FROM Chapters LIMIT 000"

chapters = pd.read_sql_query(query_chapts, conn)

# We want the "text" column, as someone has already sorted through it for us (I love theCodeCat!)

chapters = chapters.rename(columns={"idx": "chapterNumber"})
print(chapters)

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('reduced_chapter_text')
except:
    pass

chapters.to_csv('reduced_chapter_text.csv')
print('done')

# maybe edit this so it's only keeping the works we've looked at - for kudos/other stuff

In [1]:
import pandas as pd
import csv
import sqlite3

# THIS IS BEKS MESSING WITH THE TAGS

conn = sqlite3.connect("organizedData.sqlite3")
query_tags = "SELECT id, name, type FROM Tags"
query_story_tags = "SELECT * FROM TagLinks"

# tags_data = pd.read_sql_query(query_tags, conn)
story_tags_data = pd.read_sql_query(query_story_tags, conn)
print(story_tags_data)

# print(story_tags)


# IDEA - We can sort through and see how many stories have each tag, then choose to anaylze like the top
# 10000 tags.

           storyId  tagId
0                3      1
1                3      2
2                3      3
3                3      4
4                3      5
...            ...    ...
89800932  24582061    621
89800933  24582061  18921
89800934  24582061   6562
89800935  24582061   7488
89800936  24582061    250

[89800937 rows x 2 columns]

In [2]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

# try:
#     os.remove('reduced_tags')
# except:
#     pass

# tags_data.to_csv('reduced_tags.csv')
# print('done')

# STORY IDS:
try:
    os.remove('story_tags.csv')
except:
    pass
story_tags_data.to_csv("story_tags.csv")
print("done")

# Reader/Dyn Jarren	relationship
# reader/ Din Djarin
# These were two different tags that seem the same to me.

done

In [4]:
story_info = pd.read_csv("story_tags.csv")
numb_info = pd.read_csv("reduced_project_info.csv")

story_info

          Unnamed: 0   storyId  tagId
0                  0         3      1
1                  1         3      2
2                  2         3      3
3                  3         3      4
4                  4         3      5
...              ...       ...    ...
89800932    89800932  24582061    621
89800933    89800933  24582061  18921
89800934    89800934  24582061   6562
89800935    89800935  24582061   7488
89800936    89800936  24582061    250

[89800937 rows x 3 columns]

In [ ]:
# Create list of all unique Story Ids, then create a collection for each that contains a list with all their tags. 
unique_stories = []

for story in story_tags_data["storyId"]:
    if story not in unique_stories:
        unique_stories.append(story)
print(unique_stories)
# also look through how many instances there are of each unique tag.

In [1]:
import pandas as pd
import csv

data = pd.read_csv("story_tags.csv")
sample_dat = pd.read_csv("reduced_project_info.csv")
sample_dat = sample_dat.iloc[:10000]
data = data.iloc[:1000000]
print(data)
print(sample_dat)

        Unnamed: 0  storyId  tagId
0                0        3      1
1                1        3      2
2                2        3      3
3                3        3      4
4                4        3      5
...            ...      ...    ...
999995      999995  5015026      1
999996      999996  5015026    105
999997      999997  5015026  62323
999998      999998  5015026     90
999999      999999  5015026  29946

[1000000 rows x 3 columns]
      Unnamed: 0     id                                              title  \
0              0      2                                                NaN
1              1      3                            Analysis of the Obvious
2              2      5                          Dense Like Chocolate Cake
3              3      6                                         Dedication
4              4      7                                         Dedication
...          ...    ...                                                ...
9995        9995  11632                              The Unvictorious Ones
9996        9996  11633                           The Dangers of Curiosity
9997        9997  11634                                      Living Dreams
9998        9998  11635                                           Hardwood
9999        9999  11636  Once Upon a Time's Only Fiction Until Tomorrow...

            date  language  restricted  rating  finished    words     hits  \
0            NaN       NaN           1     NaN       NaN      NaN      NaN
1     2008-09-13       1.0           0     1.0       1.0   2751.0   9643.0
2     2008-09-13       1.0           0     1.0       1.0   4127.0  11831.0
3     2008-09-13       1.0           0     2.0       1.0   5836.0  15812.0
4     2008-09-13       1.0           0     2.0       1.0   5836.0   4803.0
...          ...       ...         ...     ...       ...      ...      ...
9995  2009-11-15       1.0           0     0.0       1.0  29789.0   1499.0
9996  2009-11-15       1.0           0     3.0       1.0   1108.0    308.0
9997  2005-11-13       1.0           0     3.0       1.0   1070.0   2692.0
9998  2009-11-15       1.0           0     3.0       1.0   1606.0    422.0
9999  2008-04-25       1.0           0     3.0       1.0  13344.0    767.0

      kudos  bookmarks  comments  \
0       NaN        NaN       NaN
1      43.0        3.0       1.0
2      24.0        6.0      73.0
3      25.0        6.0      57.0
4      51.0       13.0      65.0
...     ...        ...       ...
9995   44.0       13.0      12.0
9996    4.0        2.0       0.0
9997  169.0       10.0       1.0
9998    9.0        0.0       0.0
9999   31.0        4.0       1.0

                                            description LanguageName  \
0                                                   NaN          NaN
1     It requires a very unusual mind to undertake t...      English
2     A muttered insult takes on new meaning. Set du...      English
3     The breakup between Hiro and Ayaka leaves our ...      English
4     The breakup between Hiro and Ayaka leaves our ...      English
...                                                 ...          ...
9995  Daniel is invited to participate in an off-wor...      English
9996  Not for the first time, Blake wished he hadn't...      English
9997  Jerome liked to torture himself with thoughts ...      English
9998                                Dom + Elijah = smut      English
9999  The year Virginia Dale Wentz turns five her pa...      English

             RatingName FinishedStatus
0                   NaN            NaN
1           Teen And Up       Finished
2           Teen And Up       Finished
3                Mature       Finished
4                Mature       Finished
...                 ...            ...
9995  General Audiences       Finished
9996           Explicit       Finished
9997           Explicit       Finished
9998           Explicit       Finished
9999           Explicit       Finished

[10000 rows x 17 columns]

In [ ]:
# In this document, we will be grouping works from the sample data and their tags together
unique_works = []

for numb in sample_dat["id"]:
    #print(numb)
    if numb not in unique_works:
        unique_works.append(numb)

iden_numb = data.index.to_list()

In [ ]:
tag_data = data.copy(deep = True)

count = 0
# for numb in range(0, 1000):
#     iden = iden_numb[numb]
#     if int(data.loc[iden, "storyId"]) not in unique_works:
#         tag_data.drop([iden], inplace = True)
#         count += 1
#         print(count)

for iden in iden_numb:
    if int(data.loc[iden, "storyId"]) not in unique_works:
        tag_data.drop([iden], inplace = True)
        count += 1
        print(count)
        
print(len(tag_data))

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('small_story_tags'.csv)
except:
    pass

data.to_csv('small_story_tags.csv')
print('done')

# maybe edit this so it's only keeping the works we've looked at - for kudos/other stuff

In [ ]:
print("please work")
# print(iden_numb)

print(len(tag_data))

tag_data = tag_data.iloc[:100000]

tag_dat = tag_data.copy(deep= True)

numbs = tag_data.index.to_list()

for iden in numbs:
    if int(tag_data.loc[iden, "storyId"]) not in unique_works:
        tag_dat.drop([iden], inplace = True)
        count += 1
        print(count)
        
print(len(tag_dat))

In [2]:
import pandas as pd
import csv
import sqlite3

conn = sqlite3.connect("organizedData.sqlite3")
df = pd.DataFrame()

query_1 = "SELECT id, name FROM FinishedState "



df = pd.read_sql_query(query_1, conn)

conn.close()
df

   id       name
0  -1  Undefined
1   0        WIP
2   1   Finished