### Testing

In [25]:
import pandas as pd
import csv
import sqlite3
conn = sqlite3.connect("organizedData.sqlite3")
all_data = pd.read_sql_query("""SELECT StoryHeaders.id, title, date, language, Language_Name, restricted, StoryHeaders.rating, 
                finished, words, hits, kudos, bookmarks, comments, description, Ratings.name, FinishedState.name 
                FROM StoryHeaders 
                LEFT JOIN Languages ON Languages.id = StoryHeaders.language
                LEFT JOIN Ratings ON Ratings.id = StoryHeaders.rating
                LEFT JOIN FinishedState ON FinishedState.id = Storyheaders.finished
                                """, conn)
all_data

,id,title,date,language,Language_Name,restricted,rating,finished,words,hits,kudos,bookmarks,comments,description,name,name
0,2,None,None,NaN,None,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,3,Analysis of the Obvious,2008-09-13,1.0,English,0,1.0,1.0,2751.0,9643.0,43.0,3.0,1.0,It requires a very unusual mind to undertake t...,Teen And Up,Finished
2,5,Dense Like Chocolate Cake,2008-09-13,1.0,English,0,1.0,1.0,4127.0,11831.0,24.0,6.0,73.0,A muttered insult takes on new meaning. Set du...,Teen And Up,Finished
3,6,Dedication,2008-09-13,1.0,English,0,2.0,1.0,5836.0,15812.0,25.0,6.0,57.0,The breakup between Hiro and Ayaka leaves our ...,Mature,Finished
4,7,Dedication,2008-09-13,1.0,English,0,2.0,1.0,5836.0,4803.0,51.0,13.0,65.0,The breakup between Hiro and Ayaka leaves our ...,Mature,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279778,25323154,worlds collide (the fire in her eyes),2020-07-17,1.0,English,0,1.0,0.0,5395.0,22.0,1.0,0.0,0.0,"""We're ticking time bombs, Riel, all of us. An...",Teen And Up,WIP
6279779,25323157,The Deed of the Invisible Weasel,2020-07-17,1.0,English,0,0.0,0.0,4969.0,142.0,8.0,2.0,0.0,A ship appears in Arendelle's fjord unexpectedly.,General Audiences,WIP
6279780,25323160,under the starlight,2020-07-17,1.0,English,0,0.0,1.0,638.0,81.0,22.0,0.0,8.0,Day 4: Lazy Morning/Restless NightWhen Sakuya ...,General Audiences,Finished
6279781,25323172,close in on me (im letting you),2020-07-17,1.0,English,0,1.0,1.0,1118.0,266.0,70.0,5.0,16.0,"“A penny for your thoughts?” Joochan asks, pic...",Teen And Up,Finished
6279782,25323175,"hands on my hands, stone in my shoe",2020-07-17,1.0,English,0,1.0,1.0,4516.0,464.0,122.0,22.0,17.0,"It doesn’t matter if Tim never forgives him, s...",Teen And Up,Finished

In [27]:
import os

# This bit creates a csv of the Data Frame from the above code
# DO NOT RUN! 

try:
    os.remove('not_reduced_project_info.csv')
except:
    pass

all_data.to_csv('not_reduced_project_info.csv')
print('done')

done

In [28]:
import pandas as pd
import csv
import sqlite3

# THIS IS BEKS MESSING WITH THE TAGS

conn = sqlite3.connect("organizedData.sqlite3")

tags_data = pd.read_sql_query("""SELECT tagId, storyId, id, name, type
                                FROM TagLinks
                                INNER JOIN Tags on Tags.id = TagLinks.tagId
                                """, conn)

print(tags_data)

          tagId   storyId     id                           name          type
0             1         3      1      No Archive Warnings Apply       warning
1             2         3      2                          Other      category
2             3         3      3  Viggo Mortensen/Orlando Bloom  relationship
3             4         3      4          Lord of the Rings RPF        fandom
4             5         3      5                      Sean Bean     character
...         ...       ...    ...                            ...           ...
89800932    621  24582061    621                   Hurt/Comfort       generic
89800933  18921  24582061  18921   Enemies to Friends to Lovers       generic
89800934   6562  24582061   6562              Enemies to Lovers       generic
89800935   7488  24582061   7488                Angst and Humor       generic
89800936    250  24582061    250                          Humor       generic

[89800937 rows x 5 columns]

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('tag_data.csv')
except:
    pass

tags_data.to_csv('tag_data.csv')
print('done')

# Reader/Dyn Jarren	relationship
# reader/ Din Djarin
# These were two different tags that seem the same to me.

In [1]:
import pandas as pd
import csv
import sqlite3

story_info = pd.read_csv("story_tags.csv")
title_info = pd.read_csv("tag_titles.csv")

story_info

          Unnamed: 0   storyId  tagId
0                  0         3      1
1                  1         3      2
2                  2         3      3
3                  3         3      4
4                  4         3      5
...              ...       ...    ...
89800932    89800932  24582061    621
89800933    89800933  24582061  18921
89800934    89800934  24582061   6562
89800935    89800935  24582061   7488
89800936    89800936  24582061    250

[89800937 rows x 3 columns]

In [2]:
# All tags

for index in story_info.index.to_list()[:10]:
    tag_data = story_info["tagId"]
    try:
        for iden in title_info.index.to_list():
            if int(tag_data.iloc[index]) == int(title_info.loc[iden, "id"]):
                story_info.loc[index, "TagName"] = title_info.loc[iden, "name"]
                story_info.loc[index, "TagType"] = title_info.loc[iden, "type"]
    except:
        pass
print(story_info)

          Unnamed: 0   storyId  tagId                        TagName  \
0                  0         3      1      No Archive Warnings Apply
1                  1         3      2                          Other
2                  2         3      3  Viggo Mortensen/Orlando Bloom
3                  3         3      4          Lord of the Rings RPF
4                  4         3      5                      Sean Bean
...              ...       ...    ...                            ...
89800932    89800932  24582061    621                            NaN
89800933    89800933  24582061  18921                            NaN
89800934    89800934  24582061   6562                            NaN
89800935    89800935  24582061   7488                            NaN
89800936    89800936  24582061    250                            NaN

               TagType
0              warning
1             category
2         relationship
3               fandom
4            character
...                ...
89800932           NaN
89800933           NaN
89800934           NaN
89800935           NaN
89800936           NaN

[89800937 rows x 5 columns]

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('small_story_tags.csv')
except:
    pass

tag_dat.to_csv('small_story_tags.csv')
print('done')

# maybe edit this so it's only keeping the works we've looked at - for kudos/other stuff

In [ ]:
import pandas as pd
import csv
import sqlite3

# Assessing Top Tags
data = pd.read_csv("small_story_tags.csv")
try:
    data= data.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
except:
    pass

counts = data["tagId"].value_counts()
print("done")

In [ ]:
conn = sqlite3.connect("organizedData.sqlite3")


for value in counts.index.to_list():
    query_1 = f"SELECT id, name, type FROM Tags WHERE id = {value}"
    df = pd.read_sql_query(query_1, conn)
    for index in data.index.to_list():
        if data.loc[index, "tagId"] == value:
            data.loc[index, "Tag Name"] = df.loc[0, "name"]
            data.loc[index, "Tag Type"] = df.loc[0, "type"]
        
conn.close()
print(data)

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('small_story_tags'.csv)
except:
    pass

data.to_csv('small_story_tags.csv')
print('done')

# maybe edit this so it's only keeping the works we've looked at - for kudos/other stuff

In [ ]:
data = pd.read_csv("story_tags.csv")
sample_dat = pd.read_csv("reduced_project_info.csv")
sample_dat = sample_dat.iloc[:10000]

unique_works = []

for numb in sample_dat["id"]:
    if numb not in unique_works:
        unique_works.append(numb)

iden_numb = data.index.to_list()

tag_data = data.copy(deep = True)
tag_data = tag_data.iloc[:100000]
tag_dat = tag_data.copy(deep= True)

numbs = tag_data.index.to_list()

count = 0
# This just helps me know the code is still running.

for iden in numbs:
    if int(tag_data.loc[iden, "storyId"]) not in unique_works:
        tag_dat.drop([iden], inplace = True)
        count += 1
        print(count)
        
print("done")

In [3]:
# Messing around so I can actually look at tags

tag_counts = story_info["tagId"].value_counts()
tag_counts

tagId
1          3330456
17         2985682
9          2109990
44         1479848
38         1126315
            ...
3777368          1
3777367          1
3777366          1
3777365          1
9079173          1
Name: count, Length: 9079173, dtype: int64

In [4]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('tagId_counts'.csv)
except:
    pass

tag_counts.to_csv('tagId_counts.csv')
print('done')

# maybe edit this so it's only keeping the works we've looked at - for kudos/other stuff

done

In [5]:
# NOTE TAG COUNTS IS THE NUMBER OF TIMES EACH TAG IS USED.

tag_type_counts = title_info["type"].value_counts()

tag_type_counts

type
generic         6849590
relationship    1095367
character       1004292
fandom           129745
warning             170
category              9
Name: count, dtype: int64