# AO3 Project
## Tags Assessment


### Introduction
___

This document will contain analysis of the AO3 tags. We start by assessing a sample data set.

In [ ]:
import pandas as pd
import csv
import sqlite3


# THIS WAS THE INITIAL SMALL ASSESSMENT
# Assessing Top Tags
data = pd.read_csv("small_story_tags.csv")
try:
    data = data.drop(columns= ["Unnamed: 0"])
    data= data.drop(columns=["Unnamed: 0.1"])
except:
    pass

# Top 40 Tags
tag_counts = data["Tag Name"].value_counts()[:40]

tag_list = []
count_list = []
for value in tag_counts.index.to_list():
    tag_list.append(value)
    count_list.append(tag_counts[value])


top_40 = pd.DataFrame({ "Tag Name": tag_list,
                       "Total Uses": count_list
})
unique_stories = []

for number in data["storyId"]:
    if number not in unique_stories:
        unique_stories.append(number)
    
print(len(unique_stories))
data


# concating stuff

data_one = data.iloc[0:40]
data_two = data.iloc[40:100]
new_data = pd.concat([data_one, data_two], ignore_index = True)
new_data

# 1000 

---
Goals with assessing tags: most popular fandoms, most popular tags within each fandom.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

# Graphing our Series
plt.bar(top_40.index.to_list(), top_40["Total Uses"])
plt.xticks(top_40.index.to_list(), top_40["Tag Name"], rotation = 90)
plt.show()

Moving on to the total assessment. We start by looking for tags are less common, and not useful in our study. This will allow us to have an easier time assessing

In [ ]:
import pandas as pd
import csv
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

tag_uses = pd.read_csv("tagId_counts.csv")

# tag_graph = tag_uses[:100]
# # Graphing our Series
# plt.bar(tag_graph.index.to_list(), tag_graph["count"])
# plt.xticks(tag_graph.index.to_list(), tag_graph["tagId"], rotation = 90)
# plt.show()

In [ ]:
print(tag_uses.loc[15000, "count"])

In [ ]:
tags_assess = tag_uses.iloc[:15000]
tags_assess

In [ ]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('tag_assess.csv')
except:
    pass

tags_assess.to_csv('tag_assess.csv')
print('done')

In [1]:
import pandas as pd
import csv
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

tag_uses = pd.read_csv("tagId_counts.csv")


tags_assess = pd.read_csv("tag_assess.csv")

tag_import = []

for tagId in tags_assess["tagId"]:
    tag_import.append(tagId)
    
print(len(tag_import))

15000

In [11]:
tag_stuff = pd.read_csv("tag_titles.csv")
tag_stuff
#tag_stuff = tag_stuff[tag_stuff[""]]
tag_title_reduced = tag_stuff.copy(deep = True)
tag_title_reduced

         Unnamed: 0       id                                name          type
0                 0        1           No Archive Warnings Apply       warning
1                 1        2                               Other      category
2                 2        3       Viggo Mortensen/Orlando Bloom  relationship
3                 3        4               Lord of the Rings RPF        fandom
4                 4        5                           Sean Bean     character
...             ...      ...                                 ...           ...
9079168     9079168  9079169                   Reader/Dyn Jarren  relationship
9079169     9079169  9079170                  reader/ Din Djarin  relationship
9079170     9079170  9079171      Return of appropriate footwear       generic
9079171     9079171  9079172                Giovanni takes a nap       generic
9079172     9079172  9079173  This fic may contain traces of soy       generic

[9079173 rows x 4 columns]

In [7]:
count = 0
for index in tag_stuff.index.to_list()[100:1000]:
    if tag_stuff.loc[index, "id"] not in tag_import:
        
        try:
            
            tag_title_reduced.drop(index, inplace = True)
        except:
            pass

    count += 1
    if count >= 100:
        count = 0
        print("still going")   
        
tag_title_reduced

still going
still going
still going
still going
still going
still going
still going
still going
still going

         Unnamed: 0       id                                name          type
0                 0        1           No Archive Warnings Apply       warning
1                 1        2                               Other      category
3                 3        4               Lord of the Rings RPF        fandom
4                 4        5                           Sean Bean     character
5                 5        6                     Viggo Mortensen     character
...             ...      ...                                 ...           ...
9079168     9079168  9079169                   Reader/Dyn Jarren  relationship
9079169     9079169  9079170                  reader/ Din Djarin  relationship
9079170     9079170  9079171      Return of appropriate footwear       generic
9079171     9079171  9079172                Giovanni takes a nap       generic
9079172     9079172  9079173  This fic may contain traces of soy       generic

[9078629 rows x 4 columns]

In [8]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('tag_titles_assess.csv')
except:
    pass

tag_title_reduced.to_csv('tag_titles_assess.csv')
print('done')

done

In [12]:
tag_title_new = tag_title_reduced.copy(deep=True)

tag_title_new = tag_title_new[tag_title_new["id"].isin(tag_import)]
tag_title_new

,Unnamed: 0,id,name,type
0,0,1,No Archive Warnings Apply,warning
1,1,2,Other,category
3,3,4,Lord of the Rings RPF,fandom
4,4,5,Sean Bean,character
5,5,6,Viggo Mortensen,character
...,...,...,...,...
725612,725612,725613,Final Fantasy VII Remake (Video Game 2020),fandom
736257,736257,736258,å¯Œè±ªåˆ‘äº‹ Balance:UNLIMITED | Fugou Keiji: Balance:...,fandom
736259,736259,736260,Katou Haru,character
740260,740260,740261,Khun Aguero Agnis,character
777789,777789,777790,Fandom Kombat 2020,generic

In [14]:
import os

# This bit creates a csv of the Data Frame from the above code

# DO NOT RUN! 

try:
    os.remove('tag_titles_assess.csv')
except:
    pass

tag_title_new.to_csv('tag_titles_assess.csv')
print('done')

done